html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	color: #000;
	min-width: 900px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
}
/*input[type="submit"],
input[type="text"],
input[type="reset"],
textarea,
button {
	font: inherit;
}*/
.container {
	width: 880px;
	padding: 0 10px;
	margin: 0 auto;
}
.clearfix::after {
	content:'';
	display: table;
	clear: both;
}
.site-header {
	/*min-height: 328px; только для сетки, помнить паддинги*/
	background-color: #eee;
}
.page-logo {
	float: left;
	width: 139px;
	height: 56px;
}
.header-top-row {
	padding-top: 25px;
	padding-bottom: 25px; /*может margin от кнопки?*/
}
.main-navigation {
	float: right;
	margin-top: 25px;
}
.main-navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	text-align: right;
	margin-left: 44px;
}
.main-navigation li:first-child {
	margin-left: 0;
}
.main-navigation a {
	display: block;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}
.main-navigation a:hover,
.cart:hover::before {
	color: #fb565a;
}
.main-navigation a:active,
.cart:active::before {
	color: #cbcbcb;
}
.main-navigation .active a {
	border-bottom: solid 2px #fb565a;
}
.cart {
	padding-left: 27px;
	position: relative;
	margin-left: 30px;
}
.cart::before {
	content: "\62";
	position: absolute;
	left: 0;

	color: #a6a6a6;
	font-family: "symbols-nerds";
	font-size: 1em;
	font-weight: normal;
	text-transform: none;
	text-decoration: inherit;
	font-style: normal;
	font-variant: normal;
}
/*SLIDER*/
.slider {
	position: relative;
}
.slider > input {
	display: none;
}

.slide {
	/*border-top: solid 1px transparent; ===*/
	padding-top: 15px;
	padding-bottom: 80px;
	/*min-height: 230px;*/
	display: none;
}
.slide1 {
	background: transparent url('../img/slider1_bg.svg') 542px 14px no-repeat;
}
.slide2 {
	background: transparent url('../img/slider2_bg.svg') 640px 18px no-repeat;
}
.slide3 {
	background: transparent url('../img/slider3_bg.svg') 540px bottom no-repeat;
}

.slider-controls {
	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -24px;
}
.slider-controls label {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 9px;

	background-color: #fff;

	cursor: pointer;
}
.slider-controls label:last-child {
	margin-right: 0;
}
#slide1:checked ~ .slider-controls label[for="slide1"] {
	background-color: red;
}
#slide2:checked ~ .slider-controls label[for="slide2"] {
	background-color: red;
}
#slide3:checked ~ .slider-controls label[for="slide3"] {
	background-color: red;
}
#slide1:checked ~ .slide1 {
	display: block;
}
#slide2:checked ~ .slide2 {
	display: block;
}
#slide3:checked ~ .slide3 {
	display: block;
}

.promo {
	width: 480px;
}
.promo-heading {
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 36px;
	line-height: 36px;
}
.promo-text {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 28px;
}
.btn {
	display: inline-block;
	border: 0;
	outline: 0;
	margin: 0;
	cursor: pointer;

	padding: 9px 0;
	text-align: center;

	background-color: #fb565a;
	border-radius: 2px;

	font-family: inherit;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
.btn:active {
	box-shadow: 0 3px rgba(0, 0, 0, 0.15) inset;
}
.promo .btn {
	width: 240px; /*помним о паддингах*/
}

/*divider*/

body > hr {
	height: 2px;
	background-color: #eee;
	border: 0;
	outline: 0;
}
/*============== SERVICE SECTION ==============*/

.services-block {
	padding-top: 80px;
	padding-bottom: 80px;
}
.service {
	float: left;
	width: 240px;
	margin-right: 80px;
	min-height: 300px; /*только для сетки*/
}
.service:last-child {
	margin-right: 0;
}
.service-image {
	width: 240px;
	height: 124px;
	background-color: #fb565a; /*только для сетки*/
	margin-bottom: 22px;
}
.service-name {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.service-description {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 28px;
}
.service .btn {
	width: 140px; /*помним о паддингах*/
}
.btn-red {
	background-color: #fb565a;
}
.btn-red:hover {
	background-color: #d6494d;
}
.btn-red:active {
	background-color: #b63538;
}
.btn-green {
	background-color: #00ca74;
}
.btn-green:hover {
	background-color: #01a25e;
}
.btn-green:active {
	background-color: #009053;
}
.btn-yellow {
	background-color: #efc84a;
}
.btn-yellow:hover {
	background-color: #d6ae2c;
}
.btn-yellow:active {
	background-color: #c09b24;
}
.about {
	padding-top: 60px;
	padding-bottom: 65px;
}
.about-left-column {
	float: left;
	width: 620px;
}
.about-right-column {
	float: right;
	width: 240px;
}
.about-heading {
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
	padding-right: 80px; /*можно ширину блока изменить*/
}
.about-text {
	font-size: 16px;
	line-height: 22px;
}
.custom-list {
	margin: 22px 0;
	list-style-type: none;
	padding: 0;
}
.custom-list li {
	margin: 22px 0;
	padding-left: 35px;
	position: relative;
}
.custom-list li:before {
	content:"";
	position: absolute;
	left: 0;
	top: 11px;
	width: 24px;
	height: 2px;
	background-color: #fb565a;
}
.about-logo {
	text-align: center;
}
.age {
	position: relative;
	border-bottom: solid 2px #eee;
	text-align: center;
	font-size: 16px;
}
.age span {
	position: relative;
	top: 10px;
	background-color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 0 15px;
	z-index: 100;
}

/*============== PARTNERS SECTION ==============*/
.partners {
	padding-top: 40px;
	padding-bottom: 30px;
}
.partner {
	float: left;
	width: 220px;
	margin-right: 100px;
	line-height: 91px;
	height: 91px;
	text-align: center;
}
.partner:last-child {
	margin-right: 0;
}
.partner img {
	vertical-align: middle;
	opacity: 0.2;
}
.partner a:hover img {
	opacity: 1;
}
/*============== FOOTER ==============*/
.site-footer {
	padding-top: 85px;
}
.footer-top {
	position: relative;

	padding-top: 87px;
	padding-bottom: 85px;
}
.map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 0;
	opacity: 0.8;
}
.contact-name {
	margin-top: 5px;
	margin-bottom: 20px;
	font-weight: 500;
}
.contact-details {
	position: relative; /*to "float" over map*/
	width: 204px;
	height: 188px;
	padding: 26px 23px;
	background-color: white;
	/*margin-top: 87px;
	margin-bottom: 85px;*/

	box-shadow: 0 0 1px rgba(0,0,0,.3); /*to separate from the map*/

	z-index: 2000;
}
.write-us {
	width: 100%;
}
.footer-bottom {
	padding-top: 75px;
	padding-bottom: 75px;
}
.social-buttons-block {
	float: left;
	width: 240px;
	font-size: 0;
}
.social-btn {
	font-size: 23px;
	text-decoration: none;
	color: #fff;
	background-color: #e1e1e1;
	
	width: 41px;
	height: 41px;
	padding: 10px;
	
	line-height: 41px;
	text-align: center;
	vertical-align: middle;
	
	display: inline-block;
	margin-right: 27px;
	border-radius: 50%;
}
.social-btn:last-child {
	margin-right: 0;
}
.social-btn:hover {
	background-color: #fb565a;
}
.social-btn:active {
	background-color: #d6494d;
	box-shadow: 0 3px rgba(0, 0, 0, 0.15) inset;
}

.footer-friends {
	float: right;
	width: 560px;
}
.friends-heading {
	margin: -5px 0 12px;
	font-size: 36px;
	line-height: 36px;
}
.friends-discount {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}

/*============== MODAL FORM ==============*/

.modal-content {
	display: none;
	position: fixed;
	top: 200px;
	left: 50%;

	width: 460px;
	padding: 50px 90px 50px 80px;
	margin-left: -315px;
	
	background-color: #fff;
	box-shadow: 0 20px 40px rgba(0,0,0,.75);
	color: #000;

	z-index: 9999;
}
.modal-content-show {
	display: block;
}
.modal-content-close {
	position: absolute;
	top: 6px;
	right: 6px;

	width: 41px;
	height: 41px;
	border-radius: 50%;

	font-size: 0;

	background-color: #fb565a;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 18px;
	left: 8px;

	width: 25px;
	height: 4px;
	background-color: #fff;
}
.modal-content-close::before {
	transform: rotate(45deg);
}
.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content-close:hover {
	background-color: #d6494d;
}
.modal-content-close:active {
	background-color: #b63538;
	box-shadow: 0 3px rgba(0, 0, 0, 0.15) inset;
}
.main-form {
	font-size: 16px;
	line-height: 18px;
}
.main-form-left {
	width: 220px;
	float: left;
}
.main-form-right {
	width: 220px;
	float: right;
}
.main-form input,
.main-form textarea {
	width: 100%;
	border: solid 2px #d7dcde;
	border-radius: 2px;

	box-sizing: border-box;

	padding: 10px 14px;
	margin: 13px 0 22px;

	font-family: inherit;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.main-form textarea {
	margin-bottom: 48px;
	min-height: 90px;
	resize: vertical;
}

.main-form-button {
	width: 100%;
}

/*============== STORE BODY ==============*/
.store-heading {
	padding-top: 40px;
	padding-bottom: 85px;
}
.store-heading h1 {
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: 500;
	
	text-align: center;
}
.main-store {
	padding-top: 70px;
	padding-bottom: 79px;
}
.left-column-store {
	float: left;
	width: 240px;
}
.filter-tools fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
.filter-tools legend {
	padding: 0;
	margin: 0;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
}
.price-range {
	position: relative;

	height: 80px;
	/*overflow: hidden; */
	margin-bottom: 14px;

	background-color: #f1f1f1;
	border-radius: 4px;

}
.range-groove {
	position: absolute;
	top: 39px;
	bottom: 39px;
	left: 20px;
	right: 20px;

	background-color: #d7dcde;
}
.selected-range {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 8px;
	right: 48px;

	background-color: #00ca74;
}
.range-handle {
	position: absolute;
	width: 20px;
	height: 20px;

	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 2px rgba(0,0,0,.14);

	cursor: pointer;
}
.range-handle::after {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;

	position: absolute;
	top: 8px;
	left: 8px;

	background-color: #ababab;
}
.bottom-price-handle {
	top: -9px;
	left: -9px;
}
.top-price-handle {
	top: -9px;
	right: -9px;
}
.range-wrapper {
	border-collapse: collapse;
	padding: 0;
	border: none;
	width: 100%;
}
.range-wrapper tr,
.range-wrapper td {
	padding: 0;
	margin: 0;
	border: none;
	vertical-align: middle;
}
.range-wrapper td:last-child {
	text-align: right;
}
#min-range, 
#max-range {
	width: 58px;
	padding: 11px;
	margin-left: 8px;

	background-color: #f1f1f1;
	border: none;
	outline: none;
	border-radius: 2px;

	font: inherit;
	line-height: 1em;
	text-align: center;
}
#max-range {
	right: 0;
}


.right-column-store {
	float: right;
	width: 560px;
}
.sort-tools {
	height: 36px;

	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
.sort-by {
	margin-right: 41px;
}
.sort-tools > a {
	color: #000;
	opacity: 0.3;
	margin-right: 47px;
	margin-bottom: 4px;
	text-decoration: none;
	border-bottom: dotted 1px #00ca74;
}
.sort-tools > a:last-of-type {
	margin-right: 0;
}
.sort-tools > a:hover {
	opacity: 1;
	border-bottom-style: solid;
}
.sort-tools > a:active,
.sort-tools > a.active {
	opacity: 1;
	border: none;
}
.sort-direction {
	float: right;
	text-align: right;
}
.sort-direction a {
	font-family: "symbols-nerds";
	font-size: 23px;
	line-height: 20px;
	color: #c1c1c1;
	text-decoration: none;
}
.sort-direction a:first-child {
	margin-right: 6px;
}
.sort-direction a:hover {
	color: #b5b5b5;
}
.sort-direction a:active {
	color: #000;
}
.sort-direction .active {
	color: #00ca74;
}
.template-frame {
	float: left;
	width: 240px;
	height: 270px;
	margin-right: 80px;
	margin-bottom: 80px;
}
.template-frame:nth-child(even) {
	margin-right: 0;
}
.template-header {
	height: 30px;
	background-color: #f1f1f1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 0;
}
.template-frame:hover .template-header {
	background-color: #797979;
}
.template-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;

	margin-right: 7px;
	margin-top: 10px;
}
.template-dot:first-child {
	margin-left: 12px;
}
.template-main {
	position: relative;
}
.template-main img {
	width: 240px;
	height: 240px;
}
.template-overlay {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;

	display: none;
	padding: 10px;
	overflow: hidden;
	
	background-color: #fff;
	color: #000;

	text-align: center;
}
.template-frame:hover .template-overlay {
	display: block;
}
.template-name {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 25px 0 16px;
}
.template-frame:nth-of-type(4) .template-name {
	margin-bottom: 5px;
}
.template-description {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}
.template-price {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 140px; /*помним о паддингах*/

	display: block;

	font-family: inherit;
	font-weight: 500;
	font-size: 18px;
	line-height: 1em;
	padding: 10px 0;
	vertical-align: medium;
	text-transform: uppercase;

}

.pagination {
	height: 38px;
	text-align: center;
}
.pagination a {
	display: inline-block;
	height: 34px;
	min-width: 34px;
	line-height: 34px;
	border: 2px solid #f1f1f1;
	border-radius: 2px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	background-color: #f1f1f1;
	color: #000;
}
.pagination a.active {
	background-color: white;
}
/*GENERAL STYLES*/
p {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin: 22px 0;
}
.text-uppercase {
	text-transform: uppercase;
}

/*ANIMATIONS*/

@keyframes bounce {
	0% { transform: translateY(-2000px); }
	70% { transform: translateY(30px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}
.modal-content-show {
	display: block;
	animation: bounce 0.6s;
}
@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}
.modal-error {
	animation: shake 0.6s;
}